# Python environment
venv/
.venv/
env/
bin/
lib/
include/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Dữ liệu lớn (Massive Datasets) - Tránh treo Git

*.nc
*.grib
*.json
*.parquet
*.zip
*.tar.gz

# IDE settings
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class